/* Page Not Found -------------------- */
#page-not-found {
    text-align: center;
    margin: 40px 0 77px;
}
.page-not-found-img {
    margin: 20px 0 40px;  
    max-width: 830px;
    width: 100%;
}
.page-not-found-h1 {
    margin: 40px 0;
}
.page-not-found-p {
    font-size: 18px;
    margin: 30px 0 40px;
}
.page-not-found-dont-worry {
    font-size: 24px;
}
/* /Page Not Found -------------------- */