/* Vacancies ------------------ */
.vacancies {
    margin-bottom: 80px;
}
.vacancies .review-item-block {
    font-size: 16px;
}
.vacancies__tel {
    color: #1377bd;
    margin-bottom: 0;
}
/*Vacancy Item*/
.vacancy__description {
    margin-left: 20px;
}
.vacancy-item {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}
.vacancy-item__title {
    color: #1377bd;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
}
.vacancy-item__more-info {
    color: #3283c1;
    font-size: 14px;
    font-weight: 300;
}
.vacancy-item__more-info:hover {
    text-decoration: none;
    color: #3283c1;
}
.vacancy-item__more-info:focus {
    text-decoration: none;
    color: #3283c1;
}
.collapsed.vacancy-item__more-info:after {
    content: "\f107";
    font-family: fontawesome;
    font-size: 20px;
    top: 3px;
    left: 4px;
    position: relative;
}
.vacancy-item__more-info:after {
    content: "\f106";
    font-family: fontawesome;
    font-size: 20px;
    top: 3px;
    left: 4px;
    position: relative;
}
.vacancy-item .mod_border-bottom-dotted {
    border-color: #3283c1;
    padding-bottom: 3px;
}







/*/Vacancy Item*/
/* / Vacancies ----------------- */