/*News*/
    /*Sort by date*/
.news-sort-by-date {
    position: relative;
    width: 200px;
}
.news-sort-by-date__arrow-up,
.news-sort-by-date__arrow-down {
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
    transition: .2s ease;
}
.news-sort-by-date__arrow-up.active,
.news-sort-by-date__arrow-down.active {
    opacity: 1;
}
.news-sort-by-date__arrow-up:after {
    content: "\f176";
    font-family: FontAwesome;
    color: #1377bd;
    margin-left: 10px;
}
.news-sort-by-date__arrow-down:after {
    content: "\f175";
    font-family: FontAwesome;
    color: #1377bd;
    margin-left: 10px;
}
    /*/Sort by date*/

    /*News single item*/
.news-item {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 25px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}
.news-item__title {
    color: #1377bd;
    font-size: 21px;
    font-weight: 500;
}
.news-item__date {
    color: #898989;
    font-size: 12px;
    font-weight: 300;
    margin: 5px 0;
}
.news-item__content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
    padding-bottom: 30px;
}
.news-item__read-new-btn,
.news-item__read-new-btn a {
    color: #3283c1;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.news-item__read-new-btn {
    bottom: 0;
    position: absolute;
}
.news-item__read-new-btn a {
    margin-right: 10px;
}
.news-item__read-new-btn i {
    vertical-align: middle;
}
.news-item .media {
    position: relative;
}
.media__img {
    margin-bottom: 20px;
}

    /*/News single item*/












/*/News*/