.review__botton-header-II {            
    display: inline-block;
    vertical-align: middle;
    width: 176px;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}