/*About company*/
    /*About company text*/   
.about-company-text {
    margin: auto;
    margin-top: 40px;
    line-height: 24px;
}
.about-company-text__trust-us {
    color: #1377bd;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 30px;
}
.about-company-text-ul {
    list-style: none;
    padding-left: 0;
}
.about-company-text-ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 5px;
    color: #009440;
}
    /*/About company text*/
/*/About company*/